@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-ui: Anuphan, Calibri, Inter, Carlito, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-display: Anuphan, Calibri, Inter, Carlito, sans-serif;
    --portal-bg: #1A1525;
    --portal-text: #FFFFFF;
  }

  html,body {
    font-family: var(--font-ui);
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--portal-bg);
    color: var(--portal-text);
    scrollbar-width: none;      
    -ms-overflow-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }

  [data-portal="client"] {
    --portal-bg: linear-gradient(
        180deg,
        #121212 0%,
        #121212 61%,
        #212B3B 75%,
        #2E425F 85%,
        rgb(74 112 169 / .7) 100%
    );
    --portal-text: #ffffff;
  }

  [data-portal="login"] {
    --portal-bg: linear-gradient( 168deg,
    #1A1525 82.02%,
    rgb(74 112 169 / 0.80) 94.28%);
    --portal-text: #ffffff;
  }

  [data-portal="admin"] {
    --portal-bg: #030617;
    --portal-text: #ffffff;
  }

  [data-portal="AdminHeader"] {
    --portal-bg: rgba(26, 21, 37, 0.5);
    --portal-text: #64748B;
    --portal-hover: #7D80AC;
    --portal-icon: #222551;
  }

  .portal-container {
    width: 100%;
    min-height: 100vh;
    background: var(--portal-bg);
    color: var(--portal-text);
    background-attachment: fixed;
  }
}